*.swp
package-lock.json
CDK-S3toblob/__pycache__
CDK-S3toblob/.pytest_cache
CDK-S3toblob/.env
CDK-S3toblob/.vscode
CDK-S3toblob/venv
*.egg-info

# CDK asset staging directory
CDK-S3toblob/.cdk.staging
CDK-S3toblob/cdk.out
